.container {
    display: flex;
    flex-wrap: nowrap;
}
.message {
    color: white;
    font-family: Arial;
    font-size: 16px;
    margin: 5px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 0px;
}
.messagebox {
    max-height: 80px;
    max-width: 380px;
    border: 2px;
    background-color: darkslategrey;
    border-radius: 5px;
    padding: 1px;
    margin-top: 10px;

}
.name {
    font-size: 18px;
    color: #a67da3;
    font-family: Arial;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0px
}
.avatar {
    margin-top: 30px;
    width: 60px;
    height: 60px;
}
.time {
    color: #93a0a6;
    float: right;
    margin-top: 50px;
    margin-right: 10px;
}